# .husky/
# .cz-config.js
# .eslintignore
# .eslintrc.json
# .gitignore
# .prettierrc.js
# commitlint.config.js

node_modules/
packages/*/__tests__
packages/core/bin/
packages/core/lib/
packages/utils/lib/
packages/*/tsconfig.json

